<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Airport Finder</title>
</head>
<body>
    <h1>GET ICAO:</h1>
    <form action="#" method="post">
        <label for="icao">ICAO: </label>
        <input id="icao" name="icao" autofocus autocomplete="off" required placeholder="ICAO code">
        <button type="submit">Search</button>

    </form>
</body>
</html>