<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form 
  action="/result" method="post">
    <p>Enter Name:</p>
    <p>
      <label for="number1">number1: </label>
      <input type="number" name="number1" />
    </p>
    <p>
      <label for="number2">number2: </label>
      <input type="number" name="number2" />
    </p>
    <p>

      <label for="maths">Choose a math method:</label>
      <select id="math" name="maths">
        <option value="sum">Sum</option>
        <option value="minus">Substraction</option>
        <option value="multi">Multiplication</option>
        <option value="divide">Division</option>
      </select>
    </p>
    <p><input type="submit" value="Submit" /></p>

</body>

</html>