<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="calculator">
    <form action="/" method="get">
      <p>Enter Name:</p>
      <p>
        <label for="number1">number1: </label>
        <input type="number" name="number1" />
      </p>
      <p>
        <label for="number2">number2: </label>
        <input type="number" name="number2" />
      </p>
      <p>
        <label for="number3">number3: </label>
        <input type="number" name="number3" />
      </p>
      <p><input type="submit" value="Submit" /></p>
  </div>
  {%if result%}
  <p>The average is {{ result }}</p>
  {% else %}
  {% endif %}

</body>

</html>