{% extends "layout.html" %}

{% block body %}
  <h1>Register</h1>
  <form action="/register" method="post">
    <input autocomplete="off" autofocus name ="name" placeholder="Name"  type="text">
    <!-- required : cannot leave this fill empty -->
    <!-- <input autocomplete="off" autofocus name ="name" placeholder="Name" required type="text"> -->

    <!-- checkbox option -->
    {% for sport in sports %}
      <input name="sport" type="checkbox" value="{{ sport }}"> {{ sport }}
    {% endfor %}


    <!-- radio version can choose only one option
    {% for sport in sports %}
      <input name="sport" type="radio" value="{{ sport }}"> {{ sport }}
    {% endfor %} -->



    <!-- dropdown verion -->
    <!-- <select name="sport">
      <option disabled selected value="">Sport</option>
      {% for sport in sports %}
        <option value="{{ sport }}">{{ sport }}</option>
      {% endfor %}
    </select> -->
    <button type="submit">Register</button>
  </form>
{% endblock %}